<div class="container-fluid">
  <app-pagetitle
    title="Add New Formation"
    [breadcrumbItems]="breadCrumbItems"
  ></app-pagetitle>

  <form
    (ngSubmit)="validSubmit()"
    [formGroup]="formationForm"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Formation Information</div>
            <p class="card-title-desc">
              Fill in the details for the new formation.
            </p>

            <!-- Other Formation Information -->
            <div class="form-group mb-4">
              <label for="title">Title</label>
              <span class="text-danger">*</span>
              <input
                [ngClass]="{ 'is-invalid': submit && form['title'].errors }"
                type="text"
                id="title"
                formControlName="title"
                class="form-control"
              />
              <div
                *ngIf="submit && form['title'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['title'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="category">Category</label>
              <span class="text-danger">*</span>
              <ng-select
                [ngClass]="{ 'is-invalid': submit && form['category'].errors }"
                id="category"
                [items]="categories"
                [addTag]="true"
                addTagText="Add New Category"
                formControlName="category"
              ></ng-select>
              <div
                *ngIf="submit && form['category'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['category'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="city">City</label>
              <span class="text-danger">*</span>
              <ng-select
                [ngClass]="{ 'is-invalid': submit && form['city'].errors }"
                id="city"
                [items]="cities"
                formControlName="city"
              ></ng-select>
              <div
                *ngIf="submit && form['city'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['city'].errors['required']"
                  >This value is required.</span
                >
              </div>
              <!-- <select id="city" formControlName="city" class="form-control">
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
              </select> -->
            </div>

            <div class="form-group mb-4">
              <label for="nb_hours">Number of Hours</label>
              <span class="text-danger">*</span>
              <input
                [ngClass]="{ 'is-invalid': submit && form['nb_hours'].errors }"
                type="number"
                id="nb_hours"
                formControlName="nb_hours"
                class="form-control"
              />
              <div
                *ngIf="submit && form['nb_hours'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['nb_hours'].errors['required']"
                  >This value is required.</span
                >
                <span *ngIf="form['nb_hours'].errors['pattern']"
                  >This value should be valid.</span
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="objective">Objective</label>
              <span class="text-danger">*</span>
              <textarea
                [ngClass]="{ 'is-invalid': submit && form['objective'].errors }"
                id="objective"
                formControlName="objective"
                class="form-control"
              ></textarea>
              <div
                *ngIf="submit && form['objective'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['objective'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="description">Description</label>
              <span class="text-danger">*</span>
              <textarea
                [ngClass]="{
                  'is-invalid': submit && form['description'].errors
                }"
                id="description"
                formControlName="description"
                class="form-control"
              ></textarea>
              <div
                *ngIf="submit && form['description'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['description'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="cost">Cost</label>
              <span class="text-danger">*</span>
              <input
                [ngClass]="{ 'is-invalid': submit && form['cost'].errors }"
                type="number"
                id="cost"
                formControlName="cost"
                class="form-control"
              />
              <div
                *ngIf="submit && form['cost'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['cost'].errors['required']"
                  >This value is required.</span
                >
                <span *ngIf="form['cost'].errors['pattern']"
                  >This value should be valid.</span
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="capacity">Capacity</label>
              <span class="text-danger">*</span>
              <input
                [ngClass]="{ 'is-invalid': submit && form['capacity'].errors }"
                type="number"
                id="capacity"
                formControlName="capacity"
                class="form-control"
              />
              <div
                *ngIf="submit && form['capacity'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['capacity'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>

            <!--start date-->
            <div class="form-group mb-4">
              <label for="start_registration">Start Registation Date</label>
              <span class="text-danger">*</span>
              <input
                [ngClass]="{
                  'is-invalid': submit && form['start_registration'].errors
                }"
                type="date"
                id="start_registration"
                formControlName="start_registration"
                class="form-control"
                [min]="today"
              />
              <div
                *ngIf="submit && form['start_registration'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['start_registration'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>
            <!--end date-->
            <div class="form-group mb-4">
              <label for="end_registration">Etart Registation Date</label>
              <span class="text-danger">*</span>
              <input
                [ngClass]="{
                  'is-invalid': submit && form['end_registration'].errors
                }"
                type="date"
                id="end_registration"
                formControlName="end_registration"
                class="form-control"
                [min]="today"
              />
              <div
                *ngIf="submit && form['end_registration'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="form['end_registration'].errors['required']"
                  >This value is required.</span
                >
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="example-date-input" class="col-md-2 col-form-label"
                >Date</label
              >
              <div class="col-md-10">
                <input
                  class="form-control"
                  type="date"
                  value="2019-08-19"
                  id="example-date-input"
                />
              </div>
                        
            </div> -->

            <!-- Add other form controls as needed -->

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">
                Add Formation
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Formation thumbnail</h4>

            <div *ngIf="!imageUrl">
              <dropzone
                [ngClass]="{ 'is-invalid': submit && !imageUrl }"
                class="dropzone"
                [message]="'Click or drag image here to upload'"
                (success)="onUploadSuccess($event)"
                (addedFile)="onUploadSuccess($event)"
              ></dropzone>
              <div *ngIf="submit && !imageUrl" class="invalid-feedback">
                <span>This value is required.</span>
              </div>
            </div>

            <div *ngIf="imageUrl" class="dropzone-preview">
              <img class="w-100" [src]="imageUrl" alt="Selected Image" />
              <div class="cancel">
                <i class="ri-close-fill" (click)="removeImage()"></i>
              </div>
            </div>
            <!-- <input
              type="file"
              formControlName="image"
              [ngStyle]="{ display: 'none' }"
            /> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
