.dropzone-preview {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden; // Ensure the shadow doesn't overflow
  &:hover {
    .cancel {
      width: 25px;
      height: 25px;
      i {
        color: #e44d26; // Change the color on hover
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }

  .cancel-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; // Adjust as needed
    background-color: rgba(0, 0, 0, 0.5); // Black transparent shadow
  }

  .cancel {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 25px;
    height: 25px;
    min-width: 5%;
    min-height: 5%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;


    &:active {
      transform: scale(0.9);
      background-color: #eaeaea;

        i {
          color: #e44d26;;
        }
      }

    i {
      font-size: 200%;
      color: #333;
    }
  }
}
