<section class="testimonial__area testimonial__overlay pt-175 pb-170"
   [ngStyle]="{background:'url(assets/img/testimonial/testimonial-bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
   <div class="container p-relative">
      <div class="col-xxl-12">
         <div class="testimonial__slider swiper-container">
            <div class="testimonial__slider-inner ">
               <swiper class="swiper-wrapper trustedby" [slidesPerView]="2" [spaceBetween]="2" [loop]="true"
                  [navigation]="{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev'}" [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: true
                }">
                  <ng-template swiperSlide>
                    <img src="assets/img/companies/Cisco.png" alt="Cisco">
                  </ng-template>
                  <ng-template swiperSlide>
                    <img src="assets/img/companies/Hasbro.png" alt="Hasbro">
                  </ng-template>
                  <ng-template swiperSlide>
                    <img src="assets/img/companies/hubspot.png" alt="hubspot">
                  </ng-template>
                  <ng-template swiperSlide>
                    <img src="assets/img/companies/kraft.png" alt="kraft">
                  </ng-template>
                  <ng-template swiperSlide>
                    <img src="assets/img/companies/Nvidia.png" alt="Nvidia">
                  </ng-template>
                  <ng-template swiperSlide>
                    <img src="assets/img/companies/xerox.png" alt="xerox">
                  </ng-template>
               </swiper>

            </div>
            <div class="swiper-button-next swiper-nav"><i class="far fa-arrow-right"></i></div>
            <div class="swiper-button-prev swiper-nav"><i class="far fa-arrow-left"></i></div>
         </div>
      </div>
   </div>
</section>
