.swiper-wrapper{

  align-items: center;
  div{
    align-items: center;
  }
  img{
    max-width: 80%;
    height: auto;
  }
  .swiper-slide{
    text-align: center;
  }


}

.swiper-android .swiper-slide, .swiper-wrapper {
  align-items: center;
}
