<section class="teacher__area pt-100 pb-110">
  <div class="page__title-shape">
    <img class="page-title-shape-5 d-none d-sm-block" src="assets/img/page-title/page-title-shape-1.png" alt="" />
    <img class="page-title-shape-6" src="assets/img/page-title/page-title-shape-6.png" alt="" />
    <img class="page-title-shape-3" src="assets/img/page-title/page-title-shape-3.png" alt="" />
    <img class="page-title-shape-7" src="assets/img/page-title/page-title-shape-4.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="teacher__details-thumb p-relative w-img pr-30">
          <img *ngIf="trainer.photo" [src]="trainer.photo" alt="{{trainer.lastName}}" />
          <img *ngIf="!trainer.photo" src="assets/img/teacher/unknown.jpg" alt="{{trainer.lastName}}" />


          <div class="teacher__details-shape">
            <img class="teacher-details-shape-1" src="assets/img/teacher/details/shape/shape-1.png" alt="" />
            <img class="teacher-details-shape-2" src="assets/img/teacher/details/shape/shape-2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-8 col-lg-8">
        <div class="teacher__wrapper">
          <div class="teacher__top d-md-flex align-items-end justify-content-between">
            <div class="teacher__info">
              <h4>{{trainer.firstName}} {{trainer.lastName.toLocaleUpperCase()}}</h4>
              <!-- <span>Teaches Interior Markater</span> -->
            </div>
            <!-- <div class="teacher__rating">
              <h5>Review:</h5>
              <div class="teacher__rating-inner d-flex align-items-center">
                <ul>
                  <li>
                    <a href="#"> <i class="icon_star"></i> </a>
                  </li>
                  <li>
                    <a href="#"> <i class="icon_star"></i> </a>
                  </li>
                  <li>
                    <a href="#"> <i class="icon_star"></i> </a>
                  </li>
                  <li>
                    <a href="#"> <i class="icon_star"></i> </a>
                  </li>
                  <li>
                    <a href="#"> <i class="icon_star"></i> </a>
                  </li>
                </ul>
                <p>4.5</p>
              </div>
            </div> -->
          </div>
          <div class="teacher__bio">
            <div class="teacher__info">
              <h3>Short Bio</h3>
              <p>
                {{trainer.description}}
              </p>
            </div>
            <div class="teacher__info">
              <h3>Skills</h3>
              <div>
                <div *ngFor="let skill of trainer.skills.split(',')" class="badge bg-info ms-1">
                  {{ skill }}
                </div>
              </div>
            </div>


          </div>
          <div class="teacher__courses pt-55">
            <div class="section__title-wrapper mb-30">
              <h2 class="section__title">
                Passed Formation
              </h2>
            </div>
            <div class="teacher__course-wrapper">
              <div class="row">
                <div class="course__review">

                  <div class="course__item white-bg mb-30 fix">
                    <!-- Loading -->
                    <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 200px">
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>

                    <div class="row gx-0" *ngIf="!loading">
                      <div class="col-xxl-4 col-xl-4 col-lg-4">
                        <div class="course__thumb course__thumb-list w-img p-relative fix">
                          <a [routerLink]="['/formation/' + formation.slug]">
                            <div *ngIf="formation.photo" class="thumbnail">
                              <img src="{{ formation.photo }}" [alt]="formation.category" />
                            </div>
                            <div *ngIf="!formation.photo" class="thumbnail">
                              <img [src]="
                                  'assets/img/course/thumbnail/' +
                                  formation.category +
                                  '.jpg'
                                " [alt]="formation.category" />
                            </div>
                          </a>
                          <div class="course__tag"></div>
                        </div>
                      </div>
                      <div class="col-xxl-8 col-xl-8 col-lg-8">
                        <div class="course__right">
                          <div class="course__content course__content-4">
                            <div class="course__meta d-flex align-items-center">
                              <div class="course__nb_hours mr-20">
                                <span class="d-flex"><i class="ri-time-line"></i>
                                  {{ formation.nb_hours }} Hours</span>
                              </div>
                            </div>
                            <h3 class="course__title">
                              <a [routerLink]="['/formation/', formation.slug]">
                                {{ formation.title }}</a>
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="course__form">
                    <h3 class="section__title">Write a <span class="yellow-bg yellow-bg-big">Review<img
                          src="assets/img/shape/yellow-bg.png" alt="" /></span>
                    </h3>
                    <div class="course__form-inner">
                      <form (ngSubmit)="submitForm()">
                        <div class="form-group mb-50">
                          <label>Note Quality:<span class="text-danger">*</span></label>
                          <app-star-rating [rating]="noteQuality" (ratingChange)="noteQuality = $event"
                            [ratingLabels]="noteLabels"></app-star-rating>
                        </div>

                        <div class="form-group mb-50">
                          <label>Note Rythme:<span class="text-danger">*</span></label>
                          <app-star-rating [rating]="noteRythme" (ratingChange)="noteRythme = $event"
                            [ratingLabels]="noteLabels"></app-star-rating>
                        </div>

                        <div class="form-group mb-50">
                          <label>Note Support Cours:<span class="text-danger">*</span></label>
                          <app-star-rating [rating]="noteSupportCours" (ratingChange)="noteSupportCours = $event"
                            [ratingLabels]="noteLabels"></app-star-rating>
                        </div>

                        <div class="form-group mb-50">
                          <label>Note Support TP:<span class="text-danger">*</span></label>
                          <app-star-rating [rating]="noteSupportTP" (ratingChange)="noteSupportTP = $event"
                            [ratingLabels]="noteLabels"></app-star-rating>
                        </div>

                        <div class="form-group mb-50">
                          <label>Note Maitrise:<span class="text-danger">*</span></label>
                          <app-star-rating [rating]="noteMaitrise" (ratingChange)="noteMaitrise = $event"
                            [ratingLabels]="noteLabels"></app-star-rating>
                        </div>

                        <!-- Repeat the same structure for other note categories -->

                        <!-- Add submit button -->
                        <button type="submit" class="btn btn-primary">
                          Send Remarks
                        </button>
                      </form>

                      <!-- <form action="#">
                        <div class="row">
                          <div class="col-xxl-6">
                            <div class="course__form-input">
                              <input type="text" placeholder="Your Name" />
                            </div>
                          </div>
                          <div class="col-xxl-6">
                            <div class="course__form-input">
                              <input type="email" placeholder="Your Email" />
                            </div>
                          </div>
                          <div class="col-xxl-12">
                            <div class="course__form-input">
                              <input type="text" placeholder="Review Title" />
                            </div>
                          </div>
                          <div class="col-xxl-12">
                            <div class="course__form-input">
                              <div class="course__form-rating">
                                <span>Rating : </span>
                                <ul>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#" class="no-rating">
                                      <i class="icon_star"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" class="no-rating">
                                      <i class="icon_star"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <textarea placeholder="Review Summary"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xxl-12">
                            <div class="course__form-btn mt-10 mb-55">
                              <button type="submit" class="e-btn">
                                Submit Review
                              </button>
                            </div>
                          </div>
                        </div>
                      </form> -->
                    </div>
                  </div>
                </div>
                <!-- <div *ngFor="let course of courseData" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                          <div class="course__item white-bg mb-30 fix">
                             <div class="course__thumb w-img p-relative fix">
                                <a [routerLink]="['/course-details']">
                                  <img src="{{course.courseImage}}" alt="">
                                </a>
                                <div class="course__tag">
                                  <a href="#" [class]="course.color">{{course.category}}</a>
                                </div>
                             </div>
                             <div class="course__content">
                                <div class="course__meta d-flex align-items-center justify-content-between">
                                   <div class="course__lesson">
                                      <span><i class="far fa-book-alt"></i>{{course.lesson}} Lesson</span>
                                   </div>
                                   <div class="course__rating">
                                      <span><i class="icon_star"></i>{{course.rating}} (44)
                                      </span>
                                   </div>
                                </div>
                                <h3 class="course__title"><a [routerLink]="['/course-details']">
                                  {{course.title}}</a></h3>
                                <div class="course__teacher d-flex align-items-center">
                                   <div class="course__teacher-thumb mr-15">
                                    <img src="{{course.teacherImg}}" alt="">
                                   </div>
                                   <h6>
                                    <a [routerLink]="['/instructor-details']">
                                      {{course.teacherName}}</a>
                                   </h6>
                                </div>
                             </div>
                             <div class="course__more d-flex justify-content-between align-items-center">
                              <div class="course__status d-flex align-items-center">
                                <span [class]="course.color">${{course.price}}</span>
                                <span class="old-price">${{course.oldPrice}}</span>
                             </div>
                                <div class="course__btn">
                                   <a [routerLink]="['/course-details']" class="link-btn">
                                      Know Details
                                      <i class="far fa-arrow-right"></i>
                                      <i class="far fa-arrow-right"></i>
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
