<div class="row">
  <div class="col-xxl-12">
    <div class="basic-pagination wow fadeInUp mt-30" data-wow-delay=".2s">
      <ul class="d-flex align-items-center">
        <li class="prev">
          <ngb-pagination-previous [disabled]="currentPage === 1" (click)="prevPage()" class="link-btn link-prev">
            <span aria-hidden="true">&lsaquo;&lsaquo;</span>
          </ngb-pagination-previous>
        </li>

        <li *ngFor="let page of pages" [class.active]="currentPage === page">
          <ngb-pagination-link [active]="currentPage === page" (click)="setPage(page)">
            <span>{{ page }}</span>
          </ngb-pagination-link>
        </li>

        <li class="next">
          <ngb-pagination-next [disabled]="currentPage === totalPages" (click)="nextPage()" class="link-btn">
            <span aria-hidden="true">&rsaquo;&rsaquo;</span>
          </ngb-pagination-next>
        </li>
      </ul>
    </div>
  </div>
</div>
