.logo img{
  max-width: 114px;
}
.section__title {
  font-size: 40px;
  color: #0e1133;
  text-transform: capitalize;
  z-index: 1;
  margin-bottom: 3px;
}

.dropdown-toggle::after{
  display: none;
}
