.nav-tabs-custom .nav-item .nav-link.active{

    background-color: transparent;
}
.course__thumb .thumbnail{
  aspect-ratio: 1.68;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
