.rating-container {
  display: flex;
  align-items: center;
    justify-content: center;
}

.single-star {
  cursor: pointer;
  font-size: 40px;
  color: #ddd;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80px;
  max-width: 100%;
  .rating-label {
    font-size: 14px;
    color: darkslategray;
  }

  .fa-star.filled {
    color: #f8ce0b;
  }
  .fa-star.highlighted {
    color: #ffcc00;
  }
}
