<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="/home"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div class="spacer"></div>
  <a mat-button><mat-icon>home</mat-icon>Home</a>
  <a mat-button>About</a>
  <a mat-button *ngIf="useAthuService.isAdmmin()" routerLink="admin/assitant"
    >Assistants</a
  >
  <a mat-button *ngIf="!isLoggedIn()" routerLink="/login"
    ><mat-icon>account_circle</mat-icon></a
  >
  <a mat-button *ngIf="isLoggedIn()" (click)="logout()"
    ><mat-icon>exit_to_app</mat-icon></a
  >
</mat-toolbar>
