<div class="container-fluid">
  <app-pagetitle
    title="List of Assistants"
    [breadcrumbItems]="breadCrumbItems"
  ></app-pagetitle>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center"
                  >Show
                  <select
                    name="tickets-table_length"
                    aria-controls="tickets-table"
                    name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2"
                  >
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div
                id="tickets-table_filter"
                class="dataTables_filter text-md-end"
              >
                <label class="d-inline-flex align-items-center"
                  >Search:
                  <input
                    type="text"
                    name="searchTerm"
                    class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"
                    [(ngModel)]="service.searchTerm"
                /></label>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div>
            <table
              id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline"
            >
              <thead>
                <tr>
                  <!-- <th></th> -->
                  <th sortable="firstName" (sort)="onSort($event)">
                    First Name
                    <ng-container *ngIf="headers">
                      <i
                        *ngIf="headers.get(0)?.direction === 'asc'"
                        class="fas fa-arrow-up"
                      ></i>
                      <i
                        *ngIf="headers.get(0)?.direction === 'desc'"
                        class="fas fa-arrow-down"
                      ></i>
                    </ng-container>
                  </th>
                  <th sortable="lastName" (sort)="onSort($event)">
                    Last Name
                    <ng-container *ngIf="headers">
                      <i
                        *ngIf="headers.get(1)?.direction === 'asc'"
                        class="fas fa-arrow-up"
                      ></i>
                      <i
                        *ngIf="headers.get(1)?.direction === 'desc'"
                        class="fas fa-arrow-down"
                      ></i>
                    </ng-container>
                  </th>
                  <th sortable="email" (sort)="onSort($event)">
                    Email
                    <ng-container *ngIf="headers">
                      <i
                        *ngIf="headers.get(2)?.direction === 'asc'"
                        class="fas fa-arrow-up"
                      ></i>
                      <i
                        *ngIf="headers.get(2)?.direction === 'desc'"
                        class="fas fa-arrow-down"
                      ></i>
                    </ng-container>
                  </th>
                  <th sortable="phone" (sort)="onSort($event)">
                    Phone
                    <ng-container *ngIf="headers">
                      <i
                        *ngIf="headers.get(3)?.direction === 'asc'"
                        class="fas fa-arrow-up"
                      ></i>
                      <i
                        *ngIf="headers.get(3)?.direction === 'desc'"
                        class="fas fa-arrow-down"
                      ></i>
                    </ng-container>
                  </th>
                  <th sortable="address" (sort)="onSort($event)">
                    Address
                    <ng-container *ngIf="headers">
                      <i
                        *ngIf="headers.get(4)?.direction === 'asc'"
                        class="fas fa-arrow-up"
                      ></i>
                      <i
                        *ngIf="headers.get(4)?.direction === 'desc'"
                        class="fas fa-arrow-down"
                      ></i>
                    </ng-container>
                  </th>
                  <th sortable="status" (sort)="onSort($event)">
                    Status
                    <ng-container *ngIf="headers">
                      <i
                        *ngIf="headers.get(5)?.direction === 'asc'"
                        class="fas fa-arrow-up"
                      ></i>
                      <i
                        *ngIf="headers.get(5)?.direction === 'desc'"
                        class="fas fa-arrow-down"
                      ></i>
                    </ng-container>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let assistant of tables$ | async; let i = index">
                <tr>
                  <!-- <td align="center">
                    <a class="expand-row" (click)="changeValue(i)">
                      +
                    </a>
                  </td> -->
                  <td>
                    <ngb-highlight
                      [result]="assistant.firstName"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="assistant.lastName"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="assistant.email"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="assistant.phone"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="assistant.address"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <div
                      class="badge font-size-12"
                      [ngClass]="{
                        'bg-danger-subtle text-danger':
                          assistant.status === 'INACTIVE',
                        'bg-success-subtle text-success':
                          assistant.status === 'ACTIVE'
                      }"
                    >
                      {{ assistant.status }}
                    </div>
                    <!-- <ngb-highlight [result]="assistant.status" [term]="service.searchTerm"></ngb-highlight> -->
                  </td>
                  <td>
                    <div ngbDropdown placement="bottom-left">
                      <i
                        class="mdi mdi-dots-vertical dropdown-toggle"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a
                          class="dropdown-item"
                          [routerLink]="[
                            '/dashboard/assistants/update/',
                            assistant.id
                          ]"
                          ><i class="mdi mdi-account-edit"></i>Edit</a
                        >
                        <a
                          class="dropdown-item"
                          (click)="deleteAssistant(assistant.id)"
                          href="javascript: void(0);"
                          ><i class="mdi mdi-delete-outline"></i>Delete</a
                        >
                        <!--reset password-->
                        <a
                          class="dropdown-item"
                          (click)="resetPassword(assistant.id)"
                          href="javascript: void(0);"
                          ><i class="mdi mdi-lock-reset"></i>Reset Password</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- <tr *ngIf="!hideme[i]" class="sub-table no-bg">
                  <td align="center"> </td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-striped">
                      <thead>
                        <tr>
                          <th>Email</th>
                          <th>Phone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{assistant.email}}</td>
                          <td>{{assistant.phone}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr> -->
              </tbody>
              <!-- if the table is empty -->
              <tbody
                *ngIf="
                  (tables$ | async)?.length === 0 && !(service.loading$ | async)
                "
              >
                <tr>
                  <td colspan="7" style="text-align: center">
                    No assistant found
                  </td>
                </tr>
              </tbody>

              <!-- if the table is loading -->
              <ng-container *ngIf="service.loading$ | async">
                <tr>
                  <td colspan="7" style="text-align: center">
                    <div class="spinner-border text-primary m-1" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
          <!-- End table -->
          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-sm-12 col-md-5">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-end float-md-end s pagination-rounded">

                <!-- <ngb-pagination [collectionSize]="(total$ | async) || 0" [(page)]="service.page" [pageSize]="service.pageSize" >
                </ngb-pagination> -->
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
